# operator

--->> which are used for to do the operation on operands

# operands 

--->> The data with in the operations 

# operation 

--->> The process of the solving the equtions 

#### The operators are classified based on 2 ways 

1. Based on Operands 

2. Based on operations

In [1]:
# Based on operands 
'''
-->> While operation the operator is needed some no of operands 
-->> Based on the no of operands with in the operations

1. Unary Operator

2. Binary Operator
'''
print "unary operators"
print +123 #unary plus
print - 34 # unary minus
print not 34# logical not
print ~45 # bitwise not

unary operators
123
-34
False
-46

In [2]:
# binary operator
print "binary operator"
a = 10 # assignment
print a+23
print 10 <  45

binary operator
33
True

In [3]:
#Based on operations
'''
1. arithmetic Operators
2. relational operators
3. Logical operators
4. assignment operators
5. special operator
6. Bitwise operators
'''
# arithmetic operators
print  10 + 34
print 23 -45
print 12*3
print 17 /3
print 17 % 3

44
-22
36
5
2

In [4]:
print  12 **3
print 14 **2
print 10 **5

1728
196
100000

In [6]:
print 17 // 3
print 17 / 3

5
5

In [7]:
print 17.0 // 3
print 17.0 / 3

5.0
5.66666666667

In [9]:
# wap find the area of circle 
rad = input("enter rad in meters : ")
pi  = 22.0 / 7
area = pi * (rad ** 2)
print "area : ",area," sq . m"

enter rad in meters : 44
area :  6084.57142857  sq . m

In [10]:
#relational operators
print  10 < 20 # True
print 20 > 10 # True
print 10 == 10 # True
print 10 != 20 #True
print  10 <= 20 # True
print 10 <= 10 # True
print 20 >= 10 # True
print 20 >= 20 # True

True
True
True
True
True
True
True
True

In [11]:
# assignment operator  = 
a = 10 # constant to variable
b = a  # variable to variable
c = a *b + 12# expression to variable
print a
print b
print c

10
10
112

In [12]:
# compound assignment 
a = 12
b = 23
print a
print b
a = a +b # addition operation then assign
print a
print b

12
23
35
23

In [13]:
# compound assignment 
a = 12
b = 23
print a
print b
a +=  b  # a = a +b # addition operation then assign
print a
print b

12
23
35
23

In [14]:
# compound assignment 
a = 12
b = 23
print a
print b
a -= b   # a = a -b # subtraction operation then assign
print a
print b

12
23
-11
23

In [ ]:
# do the remain all arithmetic with assignment operator

In [2]:
#special Operators
'''
-->> Membership Operator

        -->> Which is used for to chicking the one elements is available with in the group of elememts
        
        1. in
        
                True  --->> avaiable
                
                False --->> not available 
        
        2. not in
        
                True  --->> not avaiable
                
                False --->>  available 
        

-->> Identity operator

    --->> to check the both operands  memory loc are same or not
    
    1. is 
    
            True -->> same
            
            False-->> different
    
    
    2. is not
    
            False -->> same
            
            True  -->> different


'''

seq  = [78,34,23,90]
var = 34
a  = 100
print var in seq
print a in seq

print var not in seq
print a not in seq

True
False
False
True

In [4]:
a = [1,2,3,4]
b = [1,2,3,4]
print id(a)
print id(b)
print a is b
print a is not b

83935304
78770696
False
True

In [5]:
a = [1,2,3,4]
b = a
print id(a)
print id(b)
print a is b
print a is not b

78620296
78620296
True
False

In [6]:
a = 12
b =12
print id(a)
print id(b)

50361200
50361200

In [7]:
a = 120.004
b =120.004
print id(a)
print id(b)

77746688
77746664

In [8]:
# Logical operator 
'''
--->> Based on the logic 

1. Logical AND

2. Logical OR

3. Logical NOT

'''
# logical AND --->> and 

'''
ip1  and  ip2  --->  res( ip1/ip2)

res --->> ip1 , when ip1 is False case

res --->> ip2 , when ip1 is True case
'''
print 34 and 56
print 0 and 56
print 90 and []
print 90 and 45

56
0
[]
45

In [9]:
# logical OR --->> or

'''
ip1  or ip2  --->  res( ip1/ip2)

res --->> ip1 , when ip1 is True case

res --->> ip2 , when ip1 is False case
'''
print 34 or 56
print 0 or 56
print 90 or []
print 90 or 45

34
56
90
90

In [10]:
# logical not 
'''
not ip --->> True/ False

True --->> ip1 is False case
False --->> ip1 is True case
'''
print not 45 # False
print not [] # True

False
True